<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smartions.dabolo.mapper.UserMapper">
	<resultMap type="java.util.HashMap" id="allResult"></resultMap>
	<insert id="signUp" parameterType="hashmap">
		insert into
		User(user_id,user_pub,user_pri_en)
		values(#{user_id},#{user_pub},#{user_pri_en});
	</insert>
	<select id="getUser" resultType="hashMap">
		select * from User where
		user_id=#{userId}
	</select>
	<update id="updatePassword" parameterType="hashmap">
		update User set
		user_pri_en=#{user_pri_en} where user_id=#{user_id} and
		user_active=1;
	</update>
	<select id="getUserIdByWechatOpenId" resultType="string">
		select user_id
		from Third where third_type='wechat' and third_id=#{openId};
	</select>
	<insert id="bindThirdAndUser" parameterType="hashmap">
		insert into
		Third(third_type,third_id,user_id)
		values(#{third_type},#{third_id},#{user_id});
	</insert>
	<select id="getUserAndActivity" resultType="hashMap">
		select * from
		ActivityAndUser where activity_and_user_user_id=#{userId} and
		activity_and_user_activity_id=#{activityId};
	</select>
	<update id="editUserAndActivity" parameterType="hashmap">
		update ActivityAndUser
		<set>
			<if test="activity_and_user_participate != null">activity_and_user_participate=#{activity_and_user_participate},
				activity_and_user_time=now(),
			</if>
			<if test="activity_and_user_praise != null">activity_and_user_praise=#{activity_and_user_praise},
			</if>
			<if test="activity_and_user_attention != null">activity_and_user_attention=#{activity_and_user_attention},
			</if>
			<if test="activity_and_user_signin != null">activity_and_user_signin=#{activity_and_user_signin}
			</if>
			
		</set>
		where activity_and_user_user_id=#{userId} and
		activity_and_user_activity_id=#{activityId}
	</update>
	<insert id="saveUserAndActivity" parameterType="hashmap">
		insert into
		ActivityAndUser(
		activity_and_user_user_id,
		activity_and_user_activity_id,
		activity_and_user_time,
		<if test="activity_and_user_participate != null">
			activity_and_user_participate,
		</if>
		<if test="activity_and_user_praise != null">
			activity_and_user_praise,
		</if>
		<if test="activity_and_user_attention != null">
			activity_and_user_attention
		</if>
		)
		values(
		#{activity_and_user_user_id},
		#{activity_and_user_activity_id},
		now(),
		<if test="activity_and_user_participate != null">
			activity_and_user_participate},
		</if>
		<if test="activity_and_user_praise != null">
			#{activity_and_user_praise},
		</if>
		<if test="activity_and_user_attention != null">
			#{activity_and_user_attention}
		</if>
		);

	</insert>
</mapper>  